html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Fragment Mono, Nanum Gothic Coding, Noto Music, monospace;
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  width: 100svw;
  height: 100svh;
  container-type: size;

  /* iOS safe area support */
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

body {
  background-color: rgb(40, 40, 40);
  overflow: hidden;
}

.container {
  container-type: size;
  container-name: bingo;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: rgb(217, 217, 217);
}

.board {
  position: relative;
  width: 100cqw;
  height: calc(100cqw * 1400 / 3840);
  /* min-height: fit-content; */
  flex: 2 0 auto;

  background-image: url(/img/bg-top-3840.webp),
    url(/img/bg-top-gutter-3840.webp);
  background-size: cover, 100cqw 100%;
  background-position: center top, top;
  background-repeat: no-repeat, no-repeat;
  container-type: size;
}

.scene {
  position: relative;
  width: 100cqw;
  height: calc(100cqw * 760 / 3840);
  flex: 1 1 auto;
  bottom: 0;

  background-image: url(/img/bg-bottom-3840.webp),
    url(/img/bg-bottom-gutter-3840.webp);
  background-size: cover, 100cqw 100%;
  background-position: center bottom, bottom;
  background-repeat: no-repeat, no-repeat;
}

.split-flap-void {
  position: absolute;
  top: 13.2%;
  height: 75%;
  aspect-ratio: 1.612; /* golden ratio, ofc */
  left: 50%;
  transform: translateX(-50%);
  background: rgba(90, 90, 90, 0.13);
}

nick-dot-bingo {
  padding: 5cqh 8cqh;
}

nick-dot-bingo-v2 {
  padding: 5cqh 8cqh;
}

@container bingo (aspect-ratio > 16/9) {
  .scene {
    background-size: contain, 100cqw 100%;
  }
}

@container bingo (aspect-ratio > 2) or (aspect-ratio < 0.8) {
  .board {
    width: 100%;
    height: 100%;
    background: rgb(40, 40, 40);
  }

  .scene {
    display: none;
  }

  .split-flap-void {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    height: 100%;
    aspect-ratio: unset;
    background: none;
    padding: 0;
    overflow-y: scroll;
  }

  nick-dot-bingo {
    height: fit-content;
  }

  @container bingo (aspect-ratio < 0.8) {
    nick-dot-bingo {
      padding: 5cqw;
      height: 100%;
    }

    .board {
      overflow-y: hidden;
    }
  }
}
