.split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
}

#goog {
  container-type: inline-size;
  height: 100%;
  width: 100%;
  background: white;
}

iframe {
  container-type: inline-size;
  border: 0;
  width: 100cqw;
  height: 100cqh;
}

@media (max-width: 767px) and (orientation: portrait) {
  body {
    overflow: scroll;
    overscroll-behavior-y: none;
  }

  .split {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  #app {
    display: flex;
    height: 50svh;
    flex-shrink: 0;
  }

  .matrix {
    padding: 5cqw;
  }

  #goog {
    height: 100svh;
    flex-shrink: 0;
    background-color: white;
    position: relative;
    margin-top: 5px;
  }

  iframe {
    height: 100%;
    position: relative;
    overscroll-behavior: none;
  }

  #iframe-overlay {
    position: absolute;
    inset: 0;
    z-index: 10;
  }

  #iframe-overlay.hidden {
    display: none;
  }
}
